
h1{
	text-indent: 10px;
	text-align: left;
	font-family: 'Quicksand', sans-serif;
}

h2{
	text-decoration: underline;
}
h4{
	padding-left: 20px;
}
body{
	text-align: center;
	display: block;
	background-color: #EFEBE9;
	border-radius: 5px;
	border-top: solid black;
	border-left: solid black;
	border-right: solid black;
	border-bottom: solid black;
}
p{
	padding-left: 40px;
}

#content{
	display: inline-block;
	
}
.sect{
	font-family: 'Josefin Slab', serif;
	display: block;
	text-align: left;
}

#header{
	display: block;
	border-bottom: 2px solid #D84315;
}


